name: Build NuGet package on main branch pull request

on:
  pull_request:
    branches:
      - "main"
    paths:
      - "TimetableDesigner.Backend.Events.Providers.RabbitMQ**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x
      - name: Add source
        run: dotnet nuget add source --username TimetableDesigner --password ${{secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/TimetableDesigner/index.json"
      - name: Build
        run: dotnet build
